.center {
    display: grid;
    justify-content: center;
    align-items: center;
}
.google-signin-btn {
    background-color: white;
    color: forestgreen;
    border-radius: 8px;
    border: 1px solid forestgreen;
    padding: 5px 15px;
}
.google-signin-btn:hover {
    background-color: forestgreen;
    color: white;
}
.login-btn {
    background-color: white;
    color: forestgreen;
    border-radius: 8px;
    border: 1px solid forestgreen;
    padding: 5px 15px;
}
.login-btn:hover {
    background-color: forestgreen;
    color: white;
}